* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  background-color: #f2f2f2;
  color: #333333;
  font-family: "Helvetica", Arial, Tahoma;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form {
  font-size: 20px;
  display: none;
  flex-direction: column;
}

#message {
  display: none;
  font-weight: bold;
  font-size: 2em;
}

#circle {
  font-size: 45px;
  weight: bold;
  /*padding-top: 70px;*/
  height: 200px;
  width: 200px;
  border-radius: 100px;
  display: none;
}

#on_start {
  font-size: 40px;
  display: none;
}

#rules {
  display: none;
  flex-direction: column;
}

/*#consultant {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}*/